extends layout

block content
  div.container.my-4
    center
      canvas#radar
      canvas#score
    center.mt-4
      input(type="text", placeholder="名前を入力してください")#displayName.form-control.w-50.d-inline
      button#start.btn.btn-primary.ml-3 スタート
  script(src="/javascripts/index/bundle.js", data-host=host)#main
